* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.active {
  color: black;
}

.knewave-regular,
.project_title {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

.project_title {
  text-align: center;
}

.delicious-handrawn-regular {
  font-family: "Delicious Handrawn", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  nav {
    background-color: rgb(255, 140, 105, 0.7); /* salmon color */
    font-size: 1.1rem;
    ul {
      display: flex;
      li {
        list-style-type: none;
        margin: 1rem;
        transition: all 0.2s ease;
        a {
          color: antiquewhite;
          text-decoration: none;
        }
        a:hover {
          color: black;
        }
      }
    }
  }
}

main {
  section.main-area {
    display: flex;
    flex-wrap: wrap;
    min-height: 70vh;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  div.info {
    flex-basis: 450px;
    /* border: 2px solid black; */
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 1rem;
    }
  }

  div.photo {
    flex-basis: 450px;
    /* border: 2px solid black; */
    img {
      width: 75%;
    }
  }

  section.name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 50vh;
  }
  div.personality {
    flex-basis: 550px;
    padding-left: 27%;
    align-items: center;
  }
  div.descrip {
    flex-basis: 450px;
    padding-left: 10%;
    align-items: center;
  }

  section.photo_button {
    display: flex;
    flex-basis: 350px;
    flex-wrap: wrap;
    /* flex-direction: row; Organize content in rows */
    cursor: pointer;
    position: relative;
    text-decoration: none; /*no underline for the link!*/
  }
  section.project_intro {
    h1 {
      text-align: center;
    }
    p {
      text-align: justify;
    }
  }
}
section.About_web {
  /* text-align: center; */
  align-items: center;
  justify-content: center;
}
section.resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  ul {
    list-style-position: outside;
    padding-left: 50px;
    padding-top: 10px;
  }
  th {
    font-size: 20px;
  }
}

.button_image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out; /* Smooth opacity change */
}

.photo_descrip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0); /*initially => no background !!!*/
  /* radius same as the photo */
  border-radius: 10px;
  opacity: 0; /* cannot see at first */
  transition: opacity 0.3s ease-in-out;
  z-index: 1; /* appear above the photo*/
}

.photo_button:hover .button_image {
  opacity: 0.3; /* when hover => transparent */
}
.photo_button:hover .photo_descrip {
  opacity: 1; /* visible ! on hover*/
  background-color: rgba(0, 0, 0, 0.5);
}

section.photo_button div {
  flex: 1 1 350px;
}
.project_intro {
  p {
    padding: 0.1rem 1rem;
  }
}
.project_demo {
  text-align: center;
  align-content: center;
}

.back_button {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  color: #fff;
  background-color: rgb(245, 93, 76);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.back_button:hover {
  background-color: #a9023f;
}
