$ThemeColor: rgba(255, 140, 105, 0.7);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.active {
  color: black;
  font-size: 1.2rem;
}

.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

.project_title {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.delicious-handrawn-regular {
  font-family: "Delicious Handrawn", cursive;
  font-weight: 400;
  font-style: normal;
}

// header{
//   display:flex;
//   flex-wrap: wrap;
// }
nav {
  background-color: $ThemeColor;
  flex: 5 1 500px;
  // position: sticky;
  // top:0;
  // z-index: 100;
  /* salmon color */
  font-size: 1.1rem;

  ul {
    display: flex;

    li {
      list-style-type: none;
      margin: 1rem;

      a {
        color: antiquewhite;
        text-decoration: none;
        transition: all 0.2s ease;
        &:hover {
          color: black;
          font-size: 1.2rem;
        }
      }
    }
  }
}

main {
  .main-area {
    display: flex;
    flex-wrap: wrap;
    min-height: 70vh;
    background-color: white;
    justify-content: center;
    align-items: center;
  }

  .info {
    flex-basis: 450px;

    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 1rem;
    }
  }

  .photo {
    flex-basis: 450px;

    img {
      width: 75%;
    }
  }

  .name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 50vh;
  }

  .personality {
    flex-basis: 550px;
    padding-left: 27%;
    align-items: center;
  }

  .descrip {
    flex-basis: 450px;
    padding-left: 10%;
    align-items: center;
  }

  .photo_button {
    display: flex;
    flex-basis: 350px;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative;
    text-decoration: none;
  }

  .project_intro {
    h1 {
      text-align: center;
    }

    p {
      text-align: justify;
    }
  }


  section.project-circles {
    border: 3px solid black;
    padding: 1rem 1rem;
    h3 {
      font-size: 2rem;
      text-align: center;
    }
    
    div.circles-area{
      border: 3px solid crimson;
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; // 置中物件
      // max-width: 1000px;
      
      div.circle{
        flex: 0 1 250px;
        // max-width: 250px;
        border: 3px solid blue;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        // align-items: center; // 讓字跟圖片都置中
        
        a{
          display:flex;
          flex-wrap:wrap;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: black;
          
          img{
            // IMPORTANT for 控制圖片的大小 不然會因為圖片無法對其
            width: 80%;
            flex: 0 1 150px;
            padding: 0.2rem;
            transition: all 0.1s ease-in;
            // hover effect
            &:hover {
              border: 3px solid $ThemeColor;
            }
          }
          h4{
            flex: 0 1 100px;
          }
        }

      
      }


    }
  }
}

footer{
  padding : 2rem 1rem;
  text-align: center;
  padding: 10px;
  background-color: $ThemeColor;
  color: white;
  font-size: 1.02rem;
}

section {
  &.About_web {
    align-items: center;
    justify-content: center;
  }

  &.resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 30px;

    ul {
      list-style-position: outside;
      padding-left: 50px;
      padding-top: 10px;
    }

    th {
      font-size: 20px;
    }
  }
}

.button_image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.photo_descrip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0);

  /* Initially no background */
  border-radius: 10px;
  opacity: 0;

  /* Hidden initially */
  transition: opacity 0.3s ease-in-out;
  z-index: 1;

  /* Appear above the photo */
}

.photo_button {
  &:hover {
    .button_image {
      opacity: 0.3;

      /* Transparent on hover */
    }

    .photo_descrip {
      opacity: 1;

      /* Visible on hover */
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  div {
    flex: 1 1 350px;
  }
}

.project_intro p {
  padding: 0.1rem 1rem;
}

.project_demo {
  text-align: center;
  align-content: center;
}

.back_button {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  color: #fff;
  background-color: rgb(245, 93, 76);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: #a9023f;
  }
}
